<nav class="main-nav">
    <button class="main-nav-icon">
        <div class="main-nav-icon__line"></div>
        <div class="main-nav-icon__line"></div>
        <div class="main-nav-icon__line"></div>
    </button>
    <ul class="main-nav__menu">
        <button class="main-nav-close-btn">X</button>
        <li class="main-nav__menu-item"><a class="main-nav__menu-item-link" href="/">Home</a></li>
        <li class="main-nav__menu-item"><a class="main-nav__menu-item-link" href="/products">Products</a></li>
        <li class="main-nav__menu-item"><a class="main-nav__menu-item-link" href="/admin/add-product">Add Product</a>
        </li>
    </ul>
</nav>