<nav class="main-nav">
    <button class="side-nav-icon">
        <div class="side-nav-icon__line"></div>
        <div class="side-nav-icon__line"></div>
        <div class="side-nav-icon__line"></div>
    </button>
    <ul class="main-nav__menu side-nav">
        <button class="side-nav-close-btn">X</button>
        <li class="main-nav__menu-item"><a class="main-nav__menu-item-link" href="/">Home</a></li>
    </ul>
</nav>