<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <header>
            <%- include('./includes/navigation.ejs') %>
        </header>
        <main>
        </main>

        <%- include('./includes/end.ejs') %>