<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin/add-product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <form action="/admin/add-product" method="POST" class="product-form">
                    <label for="pname">Name</label>
                    <input type="text" id="pname" name="pname" placeholder="Product name" required autofocus
                        class="product-form__product-name">

                    <label for="price">Price</label>
                    <input type="number" id="price" min="0.01" step="0.01" max="100000" name="price"
                        placeholder="Sell price" required class="product-form__product-price">

                    <label for="photo">Photo</label>
                    <input type="text" id="photo" name="photo" class="product-form__product-photo">

                    <label for="description">Description</label>
                    <textarea id="description" name="description" placeholder="Describe the product" cols="30" rows="10"
                        class="product-form__product-description"></textarea>

                    <button type="submit" class="product-form__submit-btn">Add Product</button>
                </form>
            </main>

            <%- include('../includes/end.ejs') %>